# =========================================================================
# Visual C++ Build & Intermediate Files
# =========================================================================

# Build Directories
Debug/
Release/
debug/
release/

#     .ilc
_copy_.ilc

# Workspace & Project User Options / Database
*.ncb
*.opt
*.aps
*.plg

*.user

# Intermediate / Object Files
*.obj
*.sbr
*.idb
*.pdb
*.pch
*.res
*.bsc

*.suo
*.sdf
*.ipch
*.ilk
*.tlog
*.ib_tag
*.vspx
*.cache
*.pchast
*.FileListAbsolute.txt
*.lastbuildstate
*.embed.manifest
*.intermediate.manifest
*.exe.recipe
*.iobj
*.ipdb
msxml*.tl*
mt.dep
BuildLog.htm
_IsIncrementalBuild

# Output Files (Executable & Libraries)
*.exe
*.dll
*.lib
*.exp

# Map & Log Files
*.map
*.log

# Windows System Files
Thumbs.db
Desktop.ini
*.tmp
*.bak

